---
- name: create monitoring directory
  file:
    path: "{{ bbb_monitoring_all_in_one_directory }}"
    state: directory

- name: register bbb secret
  command: bbb-conf --secret
  changed_when: false
  register: result
  when: not bbb_secret is defined or not bbb_baseurl is defined

- name: parse bbb secret
  set_fact:
    bbb_secret: "{{ result.stdout | regex_search('Secret: ([a-zA-Z0-9]*)', multiline=True) |  regex_replace('Secret: ') }}"
    cacheable: true
  when: not bbb_secret is defined

- name: parse bbb baseurl
  set_fact:
    bbb_baseurl: "{{ result.stdout | regex_search('URL:\\s*(https?:\\/\\/.*)', multiline=True) |  regex_replace('URL: ') }}"
    cacheable: true
  when: not bbb_baseurl is defined

- name: copy docker files into place
  template:
    src: "monitoring/{{ item }}.j2"
    dest: "{{ bbb_monitoring_all_in_one_directory }}/{{ item }}"
  with_items:
    - bbb_exporter_secrets.env
    - docker-compose.yaml
    - prometheus.yaml
  notify: restart monitoring

- name: copy monitoring nginx configuration file
  template:
    src: "monitoring/monitoring.nginx.j2"
    dest: "/etc/bigbluebutton/nginx/monitoring.nginx"
  notify: reload nginx

- name: start monitoring
  docker_compose:
    pull: true
    project_src: /root/bbb-monitoring/
  when: bbb_monitoring_all_in_one_enable | bool

