---
- name: create monitoring directory
  file:
    path: "{{ bbb_monitoring_all_in_one_directory }}"
    state: directory
    mode: '0644'

- name: copy docker files into place
  template:
    src: "monitoring/{{ item }}.j2"
    dest: "{{ bbb_monitoring_all_in_one_directory }}/{{ item }}"
    mode: '0644'
  with_items:
    - bbb_exporter_secrets.env
    - docker-compose.yaml
    - prometheus.yaml
  notify: restart monitoring

- name: install prometheus
  template:
    src: "monitoring/prometheus.yaml.j2"
    dest: "{{ bbb_monitoring_all_in_one_directory }}/prometheus.yaml"
    mode: '0644'
  notify: restart monitoring
  when: bbb_monitoring_all_in_one_enable | bool

- name: copy monitoring nginx configuration file
  template:
    src: "monitoring/monitoring.nginx.j2"
    dest: "/etc/bigbluebutton/nginx/monitoring.nginx"
    mode: '0644'
  notify: reload nginx

- name: Generate htpasswd file for external access if enabled
  htpasswd:
    path: "/etc/bigbluebutton/nginx/.htpasswd"
    name: "{{ bbb_monitoring_all_in_one_htpasswd_user }}"
    password: "{{ bbb_monitoring_all_in_one_htpasswd }}"
    owner: root
    group: root
    mode: 0644
  no_log: true
  notify: reload nginx
  when: bbb_monitoring_all_in_one_external and not bbb_monitoring_use_nginx_access_module | bool

- name: start monitoring
  docker_compose:
    pull: true
    project_src: /root/bbb-monitoring/
  when: bbb_monitoring_all_in_one_enable | bool
