---
- name: Install ufw
  apt:
    pkg: ufw
    state: present

- name: Activate ufw
  # For the setup process we first allow everything by policy,
  # after allowing ssh the default policy will be set to deny.
  community.general.ufw:
    state: enabled
    policy: allow

- name: Set logging
  community.general.ufw:
    logging: 'on'
  when:
    - "'logging' in bbb_firewall_ufw"
    - "bbb_firewall_ufw['logging']"

- name: Setup default rules
  community.general.ufw: "{{ item }}"
  with_items: "{{ bbb_firewall_ufw['rules']['default'] }}"
  when:
    - "'rules' in bbb_firewall_ufw and 'default' in bbb_firewall_ufw['rules']"

- name: Setup nginx rules
  community.general.ufw: "{{ item }}"
  with_items: "{{ bbb_firewall_ufw['rules']['nginx'] }}"
  when:
    - "'rules' in bbb_firewall_ufw and 'nginx' in bbb_firewall_ufw['rules']"

- name: Setup coturn rules
  community.general.ufw: "{{ item }}"
  with_items: "{{ bbb_firewall_ufw['rules']['coturn'] }}"
  when:
    - "'rules' in bbb_firewall_ufw"
    - "'coturn' in bbb_firewall_ufw['rules']"
    - bbb_coturn_enable

- name: Setup bigbluebutton rules
  community.general.ufw: "{{ item }}"
  with_items: "{{ bbb_firewall_ufw['rules']['bigbluebutton'] }}"
  when:
    - "'rules' in bbb_firewall_ufw and 'bigbluebutton' in bbb_firewall_ufw['rules']"

- name: Allow all outgoing traffic for allow_networks
  community.general.ufw:
    rule: allow
    direction: out
    src: '{{ item }}'
  with_items: "{{ bbb_firewall_ufw['allow_networks'] }}"
  when:
    - "'allow_networks' in bbb_firewall_ufw"

- name: Reject all out going traffic for reject_networks
  community.general.ufw:
    rule: reject
    direction: out
    src: '{{ item }}'
  with_items: "{{ bbb_firewall_ufw['reject_networks'] }}"
  when:
    - "'reject_networks' in bbb_firewall_ufw"

- name: Allow ssh connections
  community.general.ufw:
    rule: allow
    port: "{{ bbb_ssh_port }}"

- name: Connection rate limit for ssh
  community.general.ufw:
    rule: limit
    port: "{{ bbb_ssh_port }}"
    proto: tcp

- name: allow sip-proxy connection
  community.general.ufw:
    rule: allow
    from: '{{ bbb_dialin_provider_ip }}'
    to_port: '5060'
  when: bbb_dialin_enabled | bool and bbb_dialin_provider_ip is defined and bbb_dialin_provider_ip | length > 0

- name: Setup default policy
  community.general.ufw:
    policy: deny
  when:
    - "'policy' not in bbb_firewall_ufw"

- name: Setup custom default policy
  community.general.ufw:
    policy: "{{ bbb_firewall_ufw['policy'] }}"
  when:
    - "'policy' in bbb_firewall_ufw"

- name: Reload bbb_firewall_ufw
  community.general.ufw:
    state: reloaded
