API_BASE_URL=https://{{ bbb_hostname }}/bigbluebutton/api/
API_SECRET={{ bbb_secret }}
{% if bbb_monitoring_systemd_bind_ip | bool %}
BIND_IP={{ bbb_monitoring_systemd_bind_ip }}
{% endif %}
{% if bbb_monitoring_systemd_port | bool %}
PORT={{ bbb_monitoring_systemd_port }}
{% endif %}
