---
- name: Create bbb-web service override directory
  become: true
  file:
    state: directory
    path: /etc/systemd/system/bbb-web.service.d/
    mode: "0755"

- name: Deploy bbb-web service override configuration
  become: true
  template:
    src: bbb-web/bbb-web.override
    dest: /etc/systemd/system/bbb-web.service.d/override.conf
    mode: "0644"
  notify:
    - reload systemd
    - restart bbb-web

- name: Configure bbb-web application logback settings
  become: true
  template:
    src: bbb-web/logback.xml
    dest: /usr/share/bbb-web/WEB-INF/classes/logback.xml
    mode: "0644"
  notify:
    - restart bbb-web
