---

- name: checking variable...
  block:

    - name: bbb_letsencrypt_email
      debug:
        msg: "value: {{ bbb_letsencrypt_email }}"
      when: bbb_letsencrypt_enable|bool
    - name: bbb_letsencrypt_enable vs bbb_own_cert
      fail:
        msg: "bbb_letsencrypt_enable and bbb_own_cert are both set"
      when: bbb_letsencrypt_enable|bool and bbb_own_cert is defined
    - name: bbb_own_cert and bbb_own_key
      fail:
        msg: "bbb_own_cert is set but bbb_own_key is not"
      when: bbb_own_cert is defined and bbb_own_key is not defined
    - name: check bbb_coturn_secret
      debug:
        msg: "value: {{ bbb_coturn_secret }}"
      when: bbb_coturn_enable
    - name: check bbb_greenlight_secret
      debug:
        msg: "value: {{ bbb_greenlight_secret }}"
      when: bbb_greenlight_enable
    - name: check bbb_greenlight_db_password
      debug:
        msg: "value: {{ bbb_greenlight_db_password }}"
      when: bbb_greenlight_enable
    - name: check bbb_freeswitch_socket_password
      debug:
        msg: "value: {{ bbb_freeswitch_socket_password }}"
    - name: check distribution
      debug:
        msg: "distribution should be bionic and was detected as {{ ansible_distribution_release }}"
      failed_when: ansible_distribution_release | lower != 'bionic'
    - name: bbb_monitoring_all_in_one_external
      debug:
        msg: "bbb_monitoring_all_in_one_external is deprecated, use bbb_monitoring_external instead"
      failed_when: bbb_monitoring_all_in_one_external is defined
    - name: bbb_monitoring_all_in_one_version
      debug:
        msg: "bbb_monitoring_all_in_one_version is deprecated, use bbb_monitoring_exporter_version instead"
      failed_when: bbb_monitoring_all_in_one_version is defined
    - name: bbb_monitoring_all_in_one_htpasswd_user
      debug:
        msg: "bbb_monitoring_all_in_one_htpasswd_user is deprecated, use bbb_monitoring_htpasswd_user instead"
      failed_when: bbb_monitoring_all_in_one_htpasswd_user is defined
    - name: bbb_monitoring_htpasswd_user
      debug:
        msg: "value: {{ bbb_monitoring_htpasswd_user }}"
      when: bbb_monitoring_external
    - name: bbb_monitoring_all_in_one_htpasswd
      debug:
        msg: "bbb_monitoring_all_in_one_htpasswd is deprecated, use bbb_monitoring_htpasswd instead"
      failed_when: bbb_monitoring_all_in_one_htpasswd is defined
    - name: bbb_monitoring_htpasswd
      debug:
        msg: "value: {{ bbb_monitoring_htpasswd }}"
      when: bbb_monitoring_external
    - name: bbb_monitoring_systemd_enable
      debug:
        msg: "Please disable monitoring for Systemd or Docker, these can not run alongside"
      failed_when: bbb_monitoring_all_in_one_enable and bbb_monitoring_systemd_enable
    - name: bbb_freeswitch_default_password
      debug:
        msg: "Please set a value for bbb_freeswitch_default_password variable."
      failed_when: bbb_freeswitch_default_password is not defined
      when: bbb_freeswitch_default_password is not defined        
  rescue:
    - name: CHECK YOUR VARIABLES!
      debug:
        msg: "{{ ansible_failed_result }}"
      failed_when: ansible_failed_result.failed
  tags:
    - checkvars
