---
- name: register currently configured bbb hostname
  slurp:
    src: /etc/bigbluebutton/bbb-web.properties
  register: properties
  changed_when: properties['content'] | b64decode | regex_search(bbb_hostname, multiline=True, ignorecase=True) != bbb_hostname
  notify: set bbb hostname

- name: Update /etc/bigbluebutton akka configs
  become: true
  template:
    src: "{{ item }}"
    dest: "/etc/bigbluebutton/{{ item }}"
    owner: bigbluebutton
    group: root
    mode: '0600'
  loop:
    - bbb-apps-akka.conf
    - bbb-fsesl-akka.conf
  notify: restart bigbluebutton

- name: Update /etc/bigbluebutton/bbb-web.properties
  become: true
  template:
    src: bbb-web.properties
    dest: /etc/bigbluebutton/bbb-web.properties
    owner: bigbluebutton
    group: root
    mode: '0600'
  notify: restart bigbluebutton

- name: don't leave BBB secrets readable for others
  ansible.builtin.file:
    path: /usr/share/bbb-web/WEB-INF/classes/bigbluebutton.properties
    owner: bigbluebutton
    group: bigbluebutton
    mode: '640'

- name: register bbb secret
  command: bbb-conf --secret
  changed_when: false
  check_mode: false
  register: result

- name: parse bbb secret
  set_fact:
    current_bbb_secret: "{{ result.stdout | regex_search('Secret: ([a-zA-Z0-9]*)', multiline=True) |  regex_replace('Secret: ') }}"
    cacheable: true

- name: set BBB secret
  command: "bbb-conf --setsecret {{ bbb_secret }}"
  when: bbb_secret is defined and bbb_secret != current_bbb_secret
  notify: restart bigbluebutton

- name: set bbb secret variable
  set_fact:
    bbb_secret: "{{ current_bbb_secret }}"
    cacheable: true
  when: bbb_secret is not defined

- name: serve recordings via https
  become: true
  lineinfile:
    path: /usr/local/bigbluebutton/core/scripts/bigbluebutton.yml
    regexp: "playback_protocol"
    line: "playback_protocol: https"
  notify: restart bigbluebutton

- name: set note server to use HTTPS
  notify: restart bigbluebutton
  replace:
    path: /usr/share/meteor/bundle/programs/server/assets/app/config/settings.yml
    regexp: 'http://'
    replace: 'https://'

- name: set kurento server to use HTTPS
  notify: restart bigbluebutton
  replace:
    path: /usr/share/meteor/bundle/programs/server/assets/app/config/settings.yml
    regexp: 'ws://'
    replace: 'wss://'

- name: Read meteor
  slurp:
    path: /usr/share/meteor/bundle/programs/server/assets/app/config/settings.yml
  register: r_meteor

- name: extract config of meteor
  set_fact:
    meteor: "{{ r_meteor['content'] | b64decode | from_yaml }}"

- name: combine meteor config
  set_fact:
    meteor: "{{ meteor | combine(bbb_meteor, recursive=true) }}"

- name: write back new meteor config
  copy:
    content: '{{ meteor | to_nice_yaml(indent=2) }}'
    dest: /usr/share/meteor/bundle/programs/server/assets/app/config/settings.yml
    mode: '0644'
  notify:
    - restart bigbluebutton

- name: configure custom recording config
  block:
    - name: read recording config
      slurp:
        path: /usr/local/bigbluebutton/core/scripts/presentation.yml
      register: r_recording_config

    - name: extract recording config
      set_fact:
        recording_config: "{{ r_recording_config['content'] | b64decode | from_yaml }}"

    - name: combine recording config
      set_fact:
        recording_config: "{{ recording_config | combine(bbb_recording_config, recursive=true) }}"

    - name: write back recording config
      copy:
        content: '{{ recording_config | to_nice_yaml(indent=2) }}'
        dest: /usr/local/bigbluebutton/core/scripts/presentation.yml
        mode: '0644'
  when: bbb_recording_config | default({}) | length > 0

- name: set nodejs options for the html5-webclient
  replace:
    path: /usr/share/meteor/bundle/systemd_start.sh
    regexp: '/usr/share/\$NODE_VERSION/bin/node.*main.js'
    replace: '/usr/share/$NODE_VERSION/bin/node {{ bbb_html5_node_options }} main.js'
  when: bbb_html5_node_options is defined
  notify: restart bigbluebutton

- name: unset nodejs options for the html5-webclient
  replace:
    path: /usr/share/meteor/bundle/systemd_start.sh
    regexp:  'PORT=3000 /usr/share/\$NODE_VERSION/bin/node.*main.js'
    replace: 'PORT=3000 /usr/share/$NODE_VERSION/bin/node main.js'
  when: not bbb_html5_node_options is defined
  notify: restart bigbluebutton

- name: Create overrides directory for bbb-html5 template services
  file:
    path: "/etc/systemd/system/{{ item }}.d"
    state: directory
    mode: '0644'
  loop:
    - bbb-html5-backend@.service
    - bbb-html5-frontend@.service
  when: bbb_container_compat

- name: Save override file for bbb-html5 template services
  copy:
    dest: "/etc/systemd/system/{{ item }}.d/override.conf"
    content: |
      [Service]
      # Set no scheduling policy in LXC, see https://docs.bigbluebutton.org/2.2/troubleshooting.html#bbb-html5-fails-to-start-with-a-setscheduler-error
      CPUSchedulingPolicy=other
      Nice=-10
    mode: '0644'
  loop:
    - bbb-html5-backend@.service
    - bbb-html5-frontend@.service
  when: bbb_container_compat
  notify:
    - reload systemd
    - restart bigbluebutton

- name: Remove override file for bbb-html5.service
  file:
    path: /etc/systemd/system/bbb-html5.service.d/override.conf
    state: absent
    mode: '0644'
  loop:
    - bbb-html5-backend@.service
    - bbb-html5-frontend@.service
  when: not bbb_container_compat
  notify:
    - reload systemd
    - restart bigbluebutton

- name: set default presentation
  become: true
  copy:
    src: "{{ bbb_custom_presentation }}"
    dest: "{{ bbb_nginx_root | regex_replace('\\/$', '') }}/{{ bbb_custom_presentation_name | default('default.pdf') }}"
    mode: '0644'
  when: bbb_custom_presentation is defined

- name: Set cron.daily specifications
  become: true
  template:
    src: bbb-config/cron.daily/bigbluebutton
    dest: /etc/cron.daily/bigbluebutton
    mode: '0755'
    owner: root
    group: root
  notify:
    - reload systemd
    - restart bigbluebutton
