---

- name: Manage coturn
  apt:
    name: coturn
    update_cache: true
    cache_valid_time: 60
    state: "{{ 'present' if bbb_coturn_enable | bool  else 'absent' }}"

- name: Copy coturn config-file
  template:
    src: "turnserver.conf.j2"
    dest: /etc/turnserver.conf
    mode: '0644'
  when: bbb_coturn_enable | bool
  notify: restart coturn

- name: Remove coturn config-file
  file:
    path: /etc/turnserver.conf
    state: "absent"
  when: not (bbb_coturn_enable | bool)

- name: Enable logrotate for coturn
  template:
    src: logrotate/coturn
    dest: /etc/logrotate.d/coturn
    mode: '0644'
  when: bbb_coturn_enable | bool

- name: Disable logrotate for coturn
  file:
    path: /etc/logrotate.d/coturn
    state: "absent"
  when: not (bbb_coturn_enable | bool)

- name: Enable coturn server in defaults
  copy:
    dest: /etc/default/coturn
    src: etc-default-coturn
    mode: '0644'
  when: bbb_coturn_enable | bool
  notify: restart coturn

- name: Disable coturn server in defaults
  file:
    path: /etc/default/coturn
    state: "absent"
  when: not (bbb_coturn_enable | bool)

- name: Manage coturn service
  service:
    name: coturn
    enabled: "{{ bbb_coturn_enable | bool }}"
    state: started
  when: bbb_coturn_enable | bool
