---
- name: Ensure pip is installed
  apt:
    name:
      - python3-pip
      - python3-setuptools
    state: "{{ bbb_state }}"

- name: Install python docker packages
  pip:
    name:
      - docker=={{ bbb_docker_python_version }}
      - docker-compose=={{ bbb_docker_compose_version }}
    state: "{{ bbb_state }}"

- name: Log into DockerHub (avoid rate limits)
  community.docker.docker_login:
    username: "{{ bbb_docker_user }}"
    password: "{{ bbb_docker_passwd }}"
  no_log: true
  when: bbb_docker_user|default(None) and bbb_docker_passwd|default(None)
