---

- name: install dependencies
  become: true
  apt:
    name: "{{ bbb_required_packages }}"
    update_cache: true

- name: set version of java to use
  become: true
  file:
    src: /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
    dest: /etc/alternatives/java
    state: link

- name: install bbb and dependencies
  become: true
  apt:
    name: "{{ bbb_and_dependencies }}"
    state: "{{ bbb_state }}"
  register: _bbb_install

- name: install bbb-webhooks
  apt:
    name: "{{ bbb_webhooks }}"
    state: "{{ bbb_state }}"
  when: bbb_webhooks_enable
  notify: restart bigbluebutton

- name: upgrade packages
  apt:
    upgrade: "{{ bbb_upgrade_packages }}"
  register: _bbb_upgrade

- block:
  - name: ensure pip is installed
    apt:
      name:
        - python3-pip
        - python3-setuptools
      state: "{{ bbb_state }}"

  - name: install python docker packages
    pip:
      name:
        - docker
        - docker-compose==1.24.1
      state: "{{ bbb_state }}"
  when: bbb_greenlight_enable | bool or bbb_monitoring_all_in_one_enable | bool
