---

- name: install dependencies
  become: true
  apt:
    name: "{{ bbb_required_packages }}"
    update_cache: true

- name: set version of java to use
  become: true
  file:
    src: /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
    dest: /etc/alternatives/java
    state: link

- name: install bbb and dependencies
  become: true
  apt:
    name: "{{ bbb_and_dependencies }}"
    state: "{{ bbb_state }}"
  notify: set bbb hostname

- name: install bbb-webhooks
  apt:
    name: "{{ bbb_webhooks }}"
    state: "{{ bbb_state }}"
  when: bbb_webhooks_enable
  notify: restart bigbluebutton

- name: install bbb api demos
  apt:
    name: "{{ bbb_demos }}"
    state: "{{ bbb_state }}"
  when: bbb_api_demos_enable

- name: remove bbb api demos
  apt:
    name: "{{ bbb_demos }}"
    state: "absent"
    # Using autoremove because otherwise tomcat8
    # would stay installed and keep running
    autoremove: true
  when: not bbb_api_demos_enable

- name: upgrade packages
  apt:
    upgrade: "{{ bbb_upgrade_packages }}"
  notify: set bbb hostname
