---
- name: Ensure localisation files for '{{ bbb_system_locale }}' are available
  locale_gen:
    name: "{{ bbb_system_locale }}"
    state: present

- block:
    - name: Get current locale and language configuration
      command: localectl status
      register: locale_status
      changed_when: false
      check_mode: false

    - name: Parse 'LANG' from current locale and language configuration
      set_fact:
        locale_lang: "{{ locale_status.stdout | regex_search('LANG=([0-9A-Za-z_.-]+)', '\\1') | default(['n/a'], true) | first }}"

    - name: Configure locale to '{{ bbb_system_locale }}'
      command: localectl set-locale LANG={{ bbb_system_locale }}
      changed_when: locale_lang != bbb_system_locale
  when: not (
      ansible_virtualization_type is defined and
      (ansible_virtualization_type == "docker")
    )
- block:
    - name: Get locale
      command: locale -a
      changed_when: false
      check_mode: false
      register: localea

    - name: Configure locale to '{{ bbb_system_locale }}'
      command: >
        localedef -c -i {{ bbb_system_locale1 }} -f {{ bbb_system_locale2 }} {{ bbb_system_locale }}
      when: "'en_US.utf8' not in localea.stdout"
  when: >
    (
      ansible_virtualization_type is defined and
      (ansible_virtualization_type == "docker")
    )
