---

- import_tasks: checkvars.yml
  tags:
    - checkvars
    - always

# this is included as block to pass tags to included tasks
- block:
  - name: include bbb_secret
    include_tasks: bbb_secret.yml
  tags:
    - bbb_secret
    - always
  ignore_errors: true
  when: bbb_secret is not defined

# this is included as block to pass tags to included tasks
- block:
  - name: include check-for-sessions
    include_tasks: check-for-sessions.yml
  when:
    - bbb_check_for_running_meetings
    - bbb_secret is defined
  tags:
    - check-for-sessions
    - always

- import_tasks: firewall/ufw_enable.yml
  when: bbb_firewall_ufw['enabled']
  tags: ufw

- import_tasks: firewall/ufw_disable.yml
  when: not bbb_firewall_ufw['enabled']
  tags: ufw

- import_tasks: locale.yml
  tags: locale

- import_tasks: repositories.yml
  tags: repositories

- import_tasks: installation.yml
  tags: installation

- import_tasks: mongodb.yml
  tags: mongodb

# this is included as block to pass tags to included tasks
- block:
  - name: include runtimevars
    include_tasks: runtimevars.yml
  tags:
    - runtimevars
    - bbb_secret
    - always

- import_tasks: letsencrypt.yml
  when: bbb_letsencrypt_enable | bool and not bbbcert.stat.exists
  tags:
    - tls
    - certificates

- import_tasks: certificate-selfsigned.yml
  when: not (bbb_letsencrypt_enable | bool) and not bbbcert.stat.exists
  tags:
    - tls
    - certificates

- import_tasks: nginx.yml
  tags: nginx

- import_tasks: config.yml
  tags: config

- import_tasks: ntp.yml
  tags: ntp

- import_tasks: coturn.yml
  tags: coturn

- import_tasks: dial-in/main.yml
  tags: dial-in

- import_tasks: docker.yml
  when: bbb_greenlight_enable | bool or bbb_monitoring_all_in_one_enable | bool
  tags:
    - docker
    - greenlight
    - monitoring

- import_tasks: greenlight.yml
  when: bbb_greenlight_enable | bool
  tags: greenlight

- import_tasks: monitoring/main.yml
  when: bbb_monitoring_all_in_one_enable | bool or bbb_monitoring_systemd_enable | bool
  tags: monitoring

- import_tasks: webrtc-sfu.yml
  tags: webrtc-sfu

- import_tasks: bbb-web.yml
  tags: bbb-web

- import_tasks: bbb-html5.yml
  tags: bbb-hml5

- import_tasks: freeswitch.yml
  tags: freeswitch

- import_tasks: stun-turn.yml
  tags: stun-turn

- import_tasks: kurento.yml
  tags: kurento

- import_tasks: etherpad.yml
  tags: etherpad
