---

- import_tasks: checkvars.yml
- import_tasks: locale.yml
- import_tasks: repositories.yml
- import_tasks: installation.yml
- import_tasks: mongodb.yml
- import_tasks: runtimevars.yml

- import_tasks: letsencrypt.yml
  when: bbb_letsencrypt_enable | bool and not bbbcert.stat.exists

- import_tasks: certificate-selfsigned.yml
  when: not (bbb_letsencrypt_enable | bool) and not bbbcert.stat.exists

- import_tasks: nginx.yml
- import_tasks: config.yml
- import_tasks: ntp.yml

- import_tasks: coturn.yml
  when: bbb_coturn_enable | bool

- import_tasks: dial-in/main.yml

- import_tasks: greenlight.yml
  when: bbb_greenlight_enable | bool

- import_tasks: monitoring/all_in_one.yml
  when: bbb_monitoring_all_in_one_enable | bool

- import_tasks: webrtc-sfu.yml
- import_tasks: bbb-web.yml
- import_tasks: bbb-html5.yml
- import_tasks: freeswitch.yml
- import_tasks: stun-turn.yml

- import_tasks: dialin.yml
  when: bbb_sip_account is defined or bbb_sipgw is defined

- import_tasks: register_with_sipgw.yml
  when: bbb_sipgw is defined

- import_tasks: kurento.yml
