---
- name: add bigbluebutton.org repo key
  become: true
  apt_key:
    url: "{{ bbb_apt_mirror }}/repo/bigbluebutton.asc"
    id: '{{ bbb_apt_key }}'
    state: present
  register: apt_key_dl
  until: apt_key_dl is success

- name: add mongodb repo key
  become: true
  apt_key:
    url: "https://www.mongodb.org/static/pgp/server-{{ bbb_mongodb_version }}.asc"

- name: add multiverse apt repositories
  become: true
  apt_repository:
    repo: "{{ item }}"
  with_items:
    - "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release | lower }} multiverse"
    - "deb-src http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release | lower }} multiverse"
    - "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release | lower }}-updates multiverse"
    - "deb-src http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release | lower }}-updates multiverse"
    - "deb http://repo.mongodb.org/apt/ubuntu/ {{ ansible_distribution_release | lower }}/mongodb-org/{{ bbb_mongodb_version }} multiverse"
    - "deb https://ubuntu.bigbluebutton.org/bionic-230/ bigbluebutton-bionic main"

# only install certbot-repo when letsencrypt is used
- name: add Bionic dependency apt repositories
  become: true
  apt_repository:
    repo: "{{ item }}"
  with_items:
    - ppa:bigbluebutton/support
    - ppa:rmescandon/yq
    - ppa:certbot/certbot
  when: (item == 'ppa:certbot/certbot' and bbb_letsencrypt_enable | bool) or item != 'ppa:certbot/certbot'
