---
- name: Update /etc/bigbluebutton/turn-stun-servers.xml
  become: true
  template:
    src: bbb/turn-stun-servers.xml.j2
    dest: /etc/bigbluebutton/turn-stun-servers.xml
    owner: bigbluebutton
    group: root
    mode: "0600"
  notify: restart bigbluebutton
