#
# Use this file to override default entries in /usr/share/bbb-web/WEB-INF/classes/bigbluebutton.properties
#

bigbluebutton.web.serverURL=https://{{ bbb_hostname }}
securitySalt={{ bbb_secret }}
disableRecordingDefault={{ bbb_disable_recordings | ternary("true", "false") }}
autoStartRecording=false
allowStartStopRecording={{ bbb_disable_recordings | ternary("false", "true") }}
muteOnStart={{ bbb_mute_on_start | ternary("true", "false") }}
appLogLevel={{ bbb_app_log_level }}
{% if bbb_dialin_default_number is defined %}
defaultDialAccessNumber={{ bbb_dialin_default_number }}
{% endif %}
{% if (bbb_dialin_enabled | bool) and (bbb_dialin_overwrite_footer | bool) %}
defaultWelcomeMessageFooter={{ bbb_dialin_footer }}
{% else %}
defaultWelcomeMessageFooter={{ bbb_default_welcome_message_footer }}
{% endif %}
bigbluebutton.web.logoutURL={{ bbb_web_logouturl }}
allowRequestsWithoutSession={{ bbb_allow_request_without_session | ternary('true', 'false') }}
maxNumPages={{ bbb_max_num_pages }}
maxFileSizeUpload={{ bbb_max_file_size_upload }}
defaultGuestPolicy={{ bbb_guestpolicy }}
defaultHttpSessionTimeout={{ bbb_http_session_timeout }}
defaultWelcomeMessage={{ bbb_default_welcome_message }}
beans.presentationService.defaultUploadedPresentation={{ bbb_default_presentation }}
defaultMaxUsers={{ bbb_default_max_users }}
defaultMeetingDuration={{ bbb_default_meeting_duration }}
defaultMeetingLayout={{ bbb_default_meeting_layout}}
maxConversionTime={{ bbb_max_conversion_time }}
numConversionThreads={{ bbb_num_conversion_threads }}
numFileProcessorThreads={{ bbb_num_file_processor_threads }}
officeToPdfConversionTimeout={{ bbb_office_to_pdf_conversion_timeout }}
officeToPdfMaxConcurrentConversions={{ bbb_office_to_pdf_max_concurrent_conversions }}
breakoutRoomsRecord={{ bbb_breakout_rooms_record | ternary('true', 'false') }}
breakoutRoomsPrivateChatEnabled={{ bbb_breakout_rooms_privatechat_enabled | ternary('true', 'false') }}
userInactivityInspectTimerInMinutes={{ bbb_user_inactivity_inspect_timer }}
userInactivityThresholdInMinutes={{ bbb_user_inactivity_threshold }}
userActivitySignResponseDelayInMinutes={{ bbb_user_activity_sign_response_delay }}
webcamsOnlyForModerator={{ bbb_webcams_only_for_moderator | ternary("true", "false") }}
allowModsToEjectCameras={{ bbb_allow_mods_to_eject_cameras }}
meetingCameraCap={{ bbb_meeting_camera_cap }}
userCameraCap={{ bbb_user_camera_cap }}
maxPinnedCameras={{ bbb_pinned_cameras }}
endWhenNoModerator={{ bbb_end_when_no_moderator | ternary('true', 'false') }}
endWhenNoModeratorDelayInMinutes={{ bbb_end_when_delay_in_minutes }}
notifyRecordingIsOn={{ bbb_notify_recording_is_on | ternary('true', 'false') }}
allowRevealOfBBBVersion={{ bbb_allow_reveal_of_bbb_version | ternary('true', 'false') }}
disabledFeatures={{ bbb_disabled_features_combined | join(',') }}

# show a logo in top left corner
useDefaultLogo={{ bbb_use_default_logo | ternary('true', 'false') }}
defaultLogoURL={{ bbb_default_logo_url }}

# cluster proxy settings
{% if bbb_proxy_host is defined %}
defaultHTML5ClientUrl=https://{{ bbb_proxy_host }}/{{ bbb_proxy_name }}/html5client/join
defaultGuestWaitURL=https://{{ bbb_hostname }}/{{ bbb_proxy_name }}/html5client/guestWait
presentationBaseURL=https://{{ bbb_hostname }}/bigbluebutton/presentation
accessControlAllowOrigin=https://{{ bbb_proxy_host }}
{% endif %}
