<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/bbb-web.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/var/log/bigbluebutton/bbb-web.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!-- keep 14 days worth of history -->
			<MaxHistory>14</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="akka" level="{{ bbb_app_log_level }}" />
	<logger name="io.lettuce" level="{{ bbb_app_log_level }}" />
	<logger name="org.bigbluebutton" level="{{ bbb_app_log_level }}" />

	<logger name="grails.app.controllers" level="{{ bbb_app_log_level }}" />
	<logger name="grails.app.services" level="{{ bbb_app_log_level }}" />

	<logger name="org.grails.web.servlet" level="{{ bbb_app_log_level }}" />
	<logger name="org.grails.web.pages" level="{{ bbb_app_log_level }}" />
	<logger name="org.grails.web.sitemesh" level="{{ bbb_app_log_level }}" />
	<logger name="org.grails.web.mapping.filter" level="{{ bbb_app_log_level }}" />
	<logger name="org.grails.web.mapping" level="{{ bbb_app_log_level }}" />
	<logger name="org.grails.commons" level="{{ bbb_app_log_level }}" />
	<logger name="org.springframework" level="{{ bbb_app_log_level }}" />

	<root level="{{ bbb_app_log_level }}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
