---
- name: reload systemd
  become: true
  systemd:
    daemon_reload: true

- name: reload nginx
  become: true
  systemd:
    name: nginx
    state: reloaded

- name: restart nginx
  become: true
  systemd:
    name: nginx
    state: restarted

- name: restart freeswitch
  become: true
  systemd:
    name: freeswitch
    state: restarted

- name: restart mongo
  become: true
  systemd:
    name: mongod
    state: restarted

- name: restart kurento
  become: true
  systemd:
    name: kurento-media-server
    state: restarted

- name: stop kurento
  become: true
  systemd:
    name: kurento-media-server
    state: stopped

- name: restart bbb-html5
  become: true
  systemd:
    name: bbb-html5
    state: restarted

- name: restart bbb-web
  become: true
  systemd:
    name: bbb-web

- name: restart bbb-webrtc-sfu
  become: true
  systemd:
    name: bbb-webrtc-sfu
    state: restarted

- name: reload apparmor
  become: true
  systemd:
    name: apparmor
    state: reloaded

- name: restart coturn
  become: true
  systemd:
    name: coturn
    state: restarted

- name: restart monitoring container
  docker_compose:
    pull: false
    restarted: true
    project_src: "{{ bbb_monitoring_all_in_one_directory }}"

- name: restart monitoring service
  become: true
  systemd:
    name: bigbluebutton-exporter
    state: restarted

- name: restart etherpad
  ansible.builtin.systemd:
    name: etherpad.service
    enabled: true
    state: restarted

- name: set bbb hostname
  become: true
  command: "bbb-conf --setip {{ bbb_hostname }}"

# This should be the last handler. In case it is necessary that bbb is restarted all togehter.
- name: restart bigbluebutton
  become: true
  command: bbb-conf --restart
