--- 
# {{ ansible_managed }}
keys:
  {{ bbb_livekit_api_key }}: {{ bbb_livekit_api_secret }}
logging:
  level: debug
rtc:
  ips:
    includes:
    - {{ bbb_public_ip4}}/32
{% if bbb_bind_ip4 != bbb_public_ip4 %}
    - {{ bbb_bind_ip4 }}/32
{% endif %}
webhook:
  api_key: {{ bbb_livekit_api_key }}
