<extension name="from_provider">
 <condition field="destination_number" expression="^{{ bbb_dialin_provider_extension }}">
   <action application="start_dtmf" />
   <action application="answer"/>
   <action application="sleep" data="2000"/>
   <action application="play_and_get_digits" data="{{ bbb_dialin_pin_minlen }} {{ bbb_dialin_pin_maxlen }} {{ bbb_dialin_pin_retries }} {{ bbb_dialin_pin_timeout }} # conference/conf-pin.wav ivr/ivr-that_was_an_invalid_entry.wav pin \d+ {{ bbb_dialin_pin_maxwait }}"/>

   {% if bbb_dialin_mask_caller %}
   <action application="set_profile_var" data="caller_id_name=${regex(${caller_id_name}|^.*(.{ {{-bbb_dialin_mask_digits-}} })$|{{bbb_dialin_mask_prefix}}%1)}"/>
   <action application="set_profile_var" data="caller_id_number=${regex(${caller_id_number}|^.*(.{ {{-bbb_dialin_mask_digits-}} })$|{{bbb_dialin_mask_prefix}}%1)}"/>
   {% endif %}

   <action application="transfer" data="BBB_LIVEKIT_SIP XML public"/>
 </condition>
</extension>

<extension name="bbb_try_bridge">
  <condition field="destination_number" expression="^BBB_LIVEKIT_SIP$">
    <action application="stop_dtmf"/>
    <action application="bridge" data="{sip_dtmf_type=rfc2833}sofia/external/sip:${pin}@${local_ip_v4}:5062;transport=udp"/>
    <action application="transfer" data="BBB_BAD_PIN XML public"/>
  </condition>
</extension>

<extension name="bbb_bad_pin">
  <condition field="destination_number" expression="^BBB_BAD_PIN$">
    <action application="answer"/>
    <action application="sleep" data="2000"/>
    <action application="play_and_get_digits" data="{{ bbb_dialin_pin_minlen }} {{ bbb_dialin_pin_maxlen }} {{ bbb_dialin_pin_retries }} {{ bbb_dialin_pin_timeout }} # conference/conf-bad-pin.wav ivr/ivr-that_was_an_invalid_entry.wav pin \d+ {{ bbb_dialin_pin_maxwait }}"/>
    <action application="transfer" data="SEND_TO_LIVEKIT_SIP XML public"/>
  </condition>
</extension>

