<include>
  <gateway name="dial-in">
    <param name="proxy" value="{{ bbb_dialin_provider_proxy }}"/>
    <param name="username" value="{{ bbb_dialin_provider_username }}"/>
    <param name="password" value="{{ bbb_dialin_provider_password }}"/>
    <param name="extension" value="{{ bbb_dialin_provider_extension }}"/>
    <param name="register" value="true"/>
    <param name="context" value="public"/>
  </gateway>
</include>
