#jinja2: trim_blocks:False
// include default config from upstream
include "/usr/share/bbb-fsesl-akka/conf/application.conf"

akka {
  actor {
    debug {
       autoreceive = {{ 'on' if bbb_fsels_akka_log_level == 'DEBUG' else 'off' }}
       lifecycle = {{ 'on' if bbb_fsels_akka_log_level == 'DEBUG' else 'off' }}
    }
  }
  loglevel = "{{ bbb_fsels_akka_log_level }}"
  stdout-loglevel = "{{ bbb_fsels_akka_log_level }}"
}

freeswitch {
    esl {
        password="{{ bbb_freeswitch_socket_password }}"
    }
}

