[Unit]
Description=Kurento Media Server daemon
After=network.target
PartOf=kurento-media-server.target

[Service]
UMask=0002
#Environment=KURENTO_LOGS_PATH=/var/log/kurento-media-server
Environment=KURENTO_CONF_FILE=/etc/kurento/kurento-%i.conf.json
User=kurento
Group=kurento
LimitNOFILE=1000000
ExecStartPre=-/bin/rm -f /var/kurento/.cache/gstreamer-1.5/registry.x86_64.bin
#ExecStart=/usr/bin/kurento-media-server --gst-debug-level=3 --gst-debug="3,Kurento*:4,kms*:4,KurentoWebSocketTransport:5"
ExecStart=/usr/bin/kurento-media-server
Type=simple
PIDFile=/var/run/kurento-media-server-%i.pid
Restart=always

[Install]
WantedBy=kurento-media-server.target
