name: Ansible Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install ansible-lint
        run: pip3 install ansible ansible-lint[community,yamllint]
      - run: ansible-lint --version

      - uses: actions/checkout@v2

      - name: Run ansible-lint
        run: ansible-lint . -vv
